<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Get the FLIGHT you want...</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="d-flex flex-column align-items-start gap-2">
            <h3 class="fw-bold">CUSTOMER POINT</h3>
            <p class="text-muted">Paragraph of text beneath the heading to explain the heading. We'll add onto it with
                another sentence and probably just keep going until we run out of words.</p>
            <a (click)="addbooking()"  class="btn btn-primary">Book Now</a>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 g-4">
            
            <div class="d-flex flex-column gap-2">
                <a (click)="mydetails()" class="btn btn-primary">My Details</a>
                <h4 class="fw-semibold mb-0">Customer Details</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>
            
            <div class="d-flex flex-column gap-2">
                <a (click)="updatemydetails()" class="btn btn-primary">Update My Details</a>
                <h4 class="fw-semibold mb-0">Modify My Details</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>
            <div class="d-flex flex-column gap-2">
                <a (click)="viewbooking()" class="btn btn-primary">My Bookings</a>
                <h4 class="fw-semibold mb-0">View My All Bookings</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>

            <div class="d-flex flex-column gap-2">
                <a (click)="viewflights()" class="btn btn-primary">View Flights</a>
                <h4 class="fw-semibold mb-0">View All Flights</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>

            <!-- <div class="d-flex flex-column gap-2">
                <a (click)="updatebooking()" class="btn btn-primary">Update Bookings</a>
                <h4 class="fw-semibold mb-0">Update My Bookings</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div>

            <div class="d-flex flex-column gap-2">
                <a (click)="deletebooking()" class="btn btn-primary">Delete Bookings</a>
                <h4 class="fw-semibold mb-0">Delete My Booking</h4>
                <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
            </div> -->

            
        </div>
    </div>
</div>
