<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="assets/Airplane.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Get the FLIGHT you want...</h1>
            <p class="lead">CHOOSE YOUR DESTINATION FOR UPCOMING HOLIDAYS RIGHT NOW... BOOK TICKTS AND AVAIL GREAT DEALS !!!!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2" (click)="customerlogin()">BOOK NOW</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">VIEW FLIGHTS</button>
            </div>
        </div>
    </div>
</div>
<div class="card offer-card shadow-lg p-3 mb-5 bg-transparent rounded" style="margin-left:100px;margin-right:100px;">
    <div class="card-body">
        <h3 class="card-title" style="font-weight: bold; font-family:'Times New Roman', Times, serif">Check out the Best
            Offers Available</h3>
        <br />
        <div class="row">
            <div class="col-md-3" style="padding: 5px;">
                <img src="assets/offer4.png" height="200px" width="250px" />
            </div>
            <div class="col-md-3" style="padding: 5px;">
                <img src="assets/offer2.png" height="200px" width="250px" />
            </div>
            <div class="col-md-3" style="padding: 5px;">
                <img src="assets/offer3.png" height="200px" width="250px" />
            </div>
            <div class="col-md-3" style="padding: 5px;">
                <img src="assets/offer1.png" height="200px" width="250px" />
            </div>
        </div>
    </div>
</div>