<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<h1 mat-dialog-title> Add Schedule Flights </h1>
<div mat-dialog-content>
    <form [formGroup]="scheduleForm">
        <label for="scheduleId"><span class="req">* </span> ScheduleId:</label>
        <input required type="number" [(ngModel)]="schedule.scheduleId" [ngModelOptions]="{standalone: true}"
            name="schescheduleId" id="number" class="form-control phone" maxlength="28"
            placeholder="Enter Schedule Id..." />
        <div>
            <label for="floatingSelectGrid">Source Airport</label>
            <select class="form-select" id="floatingSelectGrid" formControlName="srcAirport">
                <option selected>Open this select menu</option>
                <option value="Delhi">Delhi</option>
                <option value="Bengaluru">Bengaluru</option>
                <option value="Pune">Pune</option>
                <option value="Hydrabad">Hyderabad</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Chennai">Chennai</option>
            </select>

            <label for="floatingSelectGrid">Destination Airport</label>
            <select class="form-select" id="floatingSelectGrid" formControlName="dstnAirport">
                <option selected>Open this select menu</option>
                <option value="Delhi">Delhi</option>
                <option value="Bengaluru">Bengaluru</option>
                <option value="Pune">Pune</option>
                <option value="Hydrabad">Hydrabad</option>
                <option value="Kolkata">Kolkata</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Chennai">Chennai</option>
            </select>

        </div> -->

        <!---
      <mat-form-field appearance="outline">
        <mat-label>Destination Airport</mat-label>
        <mat-select formControlName="dstnAirport" placeholder="Where To ?">
          <mat-option *ngFor="let destinationAirport of airport" [value]="destinationAirport.value">
            {{destinationAirport.viewValue}}
          </mat-option>
        </mat-select>
        </mat-form-field>-->

        <!-- <br>

        <div class="form-group">
            <label for="deptTime"><span class="req">* </span> DepartureTime </label>
            <input class="form-control" required type="datetime-local" [(ngModel)]="schedule.deptTime"
                [ngModelOptions]="{standalone: true}" name="deptTime" id="txt" placeholder="Choose Date and Time" />
            <div class="status" id="status"></div>
        </div>
        <div class="form-group">
            <label for="arrTime"><span class="req">* </span> ArrivalTime </label>
            <input class="form-control" required type="datetime-local" [(ngModel)]="schedule.arrTime"
                [ngModelOptions]="{standalone: true}" name="arrTime" id="txt" placeholder="Choose Date and Time" />
            <div class="status" id="status"></div>
        </div>


    </form>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        <button style="margin-left:10px" mat-raised-button color="primary" (click)="addSchedule()"
            mat-dialog-close>{{actionBtn}}</button>
    </div>
 -->
